@CHARSET "UTF-8";
/**
 * This file is loaded automatically for ie9 only.
 * Add any required ie9 fixes here.
 */

 .navbar {
  filter:;
  background-image: none;
  background-color: #ce8bb0;
}

.footer {
  filter:;
  background-image: none;
  background-color: #ce8bb0;
}

.dropdown-submenu > li > a:hover,
.dropdown-submenu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a{
  filter:;
 }

.btn-default {
  filter:;
}