/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

 /*For retina displays*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
  #navbar img {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/QuAC-logo-px-retina.png) no-repeat;
    width: 283px; /* Width of new image */
    height: 138px; /* Height of new image */
    padding-left: 283px; /* Equal to width of new image */
    background-size:100%;
  }
}

@media
(min-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 767px) and ( min--moz-device-pixel-ratio: 2),
(min-width: 767px) and ( -o-min-device-pixel-ratio: 2/1),
(min-width: 767px) and ( min-device-pixel-ratio: 2),
(min-width: 767px) and ( min-resolution: 192dpi),
(min-width: 767px) and ( min-resolution: 2dppx) {
  #navbar img {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../img/QuAC-logo-px-retina-ipad-portrait.png) no-repeat;
    width: 163px; /* Width of new image */
    height: 82px; /* Height of new image */
    padding-left: 163px; /* Equal to width of new image */
    background-size:100%;
  }
}

 /* IE10 and IE11 override, as conditional comments are no longer supported :( */
 @media (min-width: 767px) and (-ms-high-contrast: active) {
  .view-front-page .views-field-nothing {
    position: relative;
    margin-left: 165px;
    margin-bottom: -34px;
    }
}

 @media (min-width: 767px) and (-ms-high-contrast: none) {
  .view-front-page .views-field-nothing {
    position: relative;
    margin-left: 165px;
    margin-bottom: -34px;
    }
}

@media screen and (-ms-high-contrast: active){
  .view-front-page .views-field-nothing {
    margin-left: 0;
    margin-bottom: 6px;
  }
}

@media screen and (-ms-high-contrast: none){
  .view-front-page .views-field-nothing {
    margin-left: 0;
    margin-bottom: 6px;
  }
}

html, body {
  height: 100%;
}

 body
{
background: url('../img/Background_Spray.png') 100px 50px no-repeat, url('../img/brickwall_dark.png') ;
font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* HEADING OVERRIDES */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;

}

/* LINK OVERRIDES */
a {
  color: #eb2293;
  text-decoration: none;
}

a:hover, a:focus {
  color: #b52072;
  text-decoration: none;
}

/* H1 */
h1 {
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(1,1,1, 0.8);
}

/* IMG RESPONSIVE SMALLEST SCREEN */
  .region-content img {
    max-width:100% !important;
    height:auto;
    display:block;
  }

/* NAV BAR FONT STYLES */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #FFFFFF;
  background-color: #bda5b2;
  text-shadow: 2px 2px 2px rgba(1,1,1, 0.5);
}
.navbar .logo {
  padding-right: 0;
  margin-left:-10px;
  margin-right:-20px;
}

.nav-tabs {
  border: none;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active-trail > a{
  height: inherit;
  background-color: #bda5b2;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  color: #FFFFFF;
  text-shadow: 2px 2px 2px rgba(1,1,1, 0.5);
}

  .navbar-default .navbar-nav > li > a:hover{
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    color: #000000;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.5);
  }


  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:focus {
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(1,1,1, 0.5);
  }

  .navbar-default .navbar-nav > .active-trail > a:hover {
    height: inherit;
    background-color: #bda5b2;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    color: #000000;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.5);
  }

  .dropdown-submenu > li > a:hover, .dropdown-submenu > li > a:focus, .dropdown-submenu > .active-trail > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.dropdown-menu > .active > a {
    color: #ffffff;
    text-decoration: none;
    background-image: none;
    background-color: #eb2293;
    outline: 0;
 }

/* ADD 3rd LEVEL DROPDOWN */
.dropdown-submenu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

ul.dropdown-submenu {
  list-style: none;
  margin-left: -40px;
}

ul.dropdown-submenu > li > a {
  padding-left:40px;
}

/* SIDEBAR STYLES */
.region-sidebar-second {
  margin-top: -14px;
}

.region-sidebar-second .input-group{
  margin-bottom: 20px;
}

.region-sidebar-second .input-group .form-control {
  width: 100%;
}

/* VIEWS STYLES */
.view-same-same-rss-feed img {
  display: none;
}

.view-same-same-rss-feed .views-row {
  border-bottom: 1px solid #999;
}

.view-same-same-rss-feed .views-row-last {
  border: none;
}

.view-same-same-rss-feed {
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 15px;
}

#block-views-same-same-rss-feed-block h2 {
  width: 185px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

/* Feel Good View Styles */
.views-field-field-file-tag-line {
  margin-top: 20px;
}

/* WEBFORM COMPONENTS */
.webform-component {
  margin-bottom: 10px;
}

.node-webform .form-number,
.node-webform .form-email {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.uc-cart-checkout-form img {
  display: inline;
}

.uc-cart-checkout-form .panel-default {
  border-color: #FCF7F7;
}


/* NOT FRONT PAGE OVERRIDES */
.not-front .page-header {
  margin-top: -10px;
}

.not-front .twitter-outer {
  padding: 4px 6px 0px 6px;
  border-radius: 4px;
  background-color: #6c87a8;
}

.not-front #block-block-3 {
  padding: 0px 6px 0px 6px;
  border-radius: 4px;
  background-color: #6c87a8;
  margin-bottom: 10px;
  margin-top: 10px;
}

#block-block-3 h2{
  color: #ffffff;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
}

#block-block-3 {

}

#block-views-same-same-rss-feed-block {
  padding: 0px 12px 5px 12px;
  border-radius: 4px;
  background-color: #6c87a8;

}

#block-multiblock-2 {
  color: #ffffff;
  border-radius: 4px;
  background-color: #6c87a8;
  margin-bottom: 10px;
  margin-top: 10px;
}

#block-multiblock-2  h2 {
  font-size: 30px;
  width: 195px;
  margin-left: auto;
  margin-right: auto;
}

#block-multiblock-2 ul.platforms {
  padding-left: 25px;
}

#block-multiblock-2 li {
  padding: 1.2em 0.65em;
  display: inline-block;
}

/* FLEXSLIDER OVERRIDES */
.flex-caption {
  color: #ffffff;
  position: relative;
  margin-top: -45px;
  padding-left: 10px;
  background-color: rgba(68, 70, 112, 0.8);
}

.flex-caption a,
.flex-caption a:hover {
  color: #ffffff;
}

.flex-direction-nav a {
  height: 62px;
}

/* FRONT PAGE OVERRIDES */

.front .panel {
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
}

.front .panel-body {
  padding: 0;
}

.view-front-page h3 {
  display: none;
}

.views-field-field-image-file {
  margin-top: 20px;
}

.view-front-page .views-field-body {
  min-height: 160px;
  padding-left: 20px;
  padding-right:20px;
}

.view-front-page .views-field-field-link {
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 16px;
}

.view-front-page .views-field-field-link .btn-default {
  -webkit-box-shadow: none;
  box-shadow: none;
  line-height: 20px;
}

.view-front-page .views-field-nothing {
  line-height: 20px;
  margin-left: -20px;
  margin-top: 20px;
  margin-bottom: -20px;
}

.view-front-page .views-field-nothing label {
  display: initial;
  margin-bottom: 0;
  font-weight: normal;
}

.view-front-page .btn-default {
  background-image: none;
  text-shadow: none;
  text-transform: uppercase;
  font-size: 16px;
  font-family: Lato,sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  transition: all .3s ease;
}
.view-front-page .btn-default:hover {
  border-color: transparent;
}

.view-front-page .views-field-title {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-transform: uppercase;
}

.view-front-page .thumbnail {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.img-thumbnail {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/* TABS */
.nav-tabs > li > a {
  background-color: #f2eaee;
}

/* LOGIN BLOCK OVERRIDE */
#block-user-login {
    margin-top: 20px;
}

#block-user-login .form-submit{
  float: right;
}

#block-user-login ul{
  display: none;
}

#block-user-login label {
  display: none;
}

#block-user-login .form-item,
#block-user-login .form-submit {

}

/* Override Bootstrap Navbar */
.navbar-default {
  background-color: #f3b0d5;
  border-color: transparent;
}

.navbar {
  background-image: none;
  background-color: rgba(206, 139, 176, 1);
  border: none;
  z-index: 998;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 2px 10px rgba(0, 0, 0, 1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 2px 10px rgba(0, 0, 0, 1);
}

.main-container {
  margin-bottom: 30px;
}
/*********** MOBILE SCREEN RESETS ************/

  /* NAVBAR TOGGLE */
  button.navbar-toggle {
    margin-top: 89px;
  }

  /* HOMEPAGE GRID SPACING */
  .view-front-page .views-columns-3 {
    padding-bottom: 30px;
  }

  /* Make footer stick to bottom of page */
  #container {
    min-height: 100%;
    margin-bottom: -320px;
    position: relative;
  }

  /* FOOTER */
  .footer {
    height: 320px;
    position: relative;
    background-image: none;
    background-color: rgba(206, 139, 176, 1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.15), 0 -1px 5px rgba(0, 0, 0, 1);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.15), 0 -1px 5px rgba(0, 0, 0, 1);
  }

  .clearfooter {
    height: 320px;
    clear: both;
  }

  /* FOOTER MENU */
  #block-menu-menu-footer-menu, #block-menu-menu-footer-menu-2 {
    visibility: hidden;
  }

  /* SOCIAL BLOCK */
  .front #block-social-media-links-social-media-links {
    margin-top: 20px;
    color: #ffffff;
    width: auto;
    margin-left: auto;
    margin-right: auto
    min-height: 138px;
    border-radius: 4px;
    background-color: #6c87a8;
  }

  .front #block-social-media-links-social-media-links h2 {
    font-size: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .front .block-social-media-links ul.platforms {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
  }

  /* TWITTER BLOCK */
  .front .twitter-outer {
    padding: 12px 12px 1px 12px;
    border-radius: 4px;
    background-color: #6c87a8;
    min-height: 0;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  /* CALL NOW BLOCK */
  #block-block-4 {
    color: #ffffff;
    border-radius: 4px;
    background-color: #6c87a8;
    margin-top: 21px;
    padding: 10px 10px 14px 10px;
    border: 1px solid #CABDBD;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #block-block-4 h2 {
    color: #ffffff;
    font-size: 30px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-call {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    background-color: #ffffff;
    border-radius: 4px;
    background-image: none;
    text-shadow: none;
    text-transform: uppercase;
    font-size: .9em;
    font-family: Lato,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    transition: all .3s ease;
  }

  /* USER LOGIN BLOCK */
  #block-user-login {
    visibility: visible;
  }

  /* FRONT PAGE GRIDS */
  .view-front-page .views-field-field-image-file {
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  /* SEARCH BLOCK */
  .region-sidebar-second #block-search-form {
    margin-top: 30px;
    margin-bottom: 10px;
  }

/*********** SMALL SCREEN OVERRIDES ************/
@media (min-width: 767px) {

    /* SHARE THIS Button overrides */
  .view-front-page .views-field-nothing {
    margin-left: 0;
  }

    /* SEARCH BLOCK */
  .region-sidebar-second #block-search-form {
    margin-top: -20px;
    margin-bottom: 10px;
  }

  /* HOMEPAGE GRID SPACING */
  .view-front-page .views-columns-3 {
    padding-bottom: 70px;
  }

  /* ADD 3rd LEVEL DROPDOWN */
  .dropdown-submenu > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    display: block;
    padding: 5px 10px;
    clear: both;
    font-weight: normal;
    font-size: 11px;
    line-height: 1;
    color: #333333;
    white-space: nowrap;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a {
    color: #ffffff;
  }


  ul.dropdown-submenu {
    list-style: none;
    margin-left: -40px;
  }

  ul.dropdown-submenu > li > a {
    padding-left: 30px;
  }

  /* TAG LINE STYLES */
  .tag-line {
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 40px;
    text-shadow: 2px 2px 2px rgba(1,1,1, 0.9);
  }

    /* FOOTER STYLES */
  .clearfooter {
    height: 130px;
    clear: both;
  }

  .footer {
    height: 130px;
    position: relative;
    background-image: none;
    background-color: rgba(206, 139, 176, 1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.15), 0 -1px 5px rgba(0, 0, 0, 1);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.15), 0 -1px 5px rgba(0, 0, 0, 1);
  }

  /* Make footer stick to bottom of page */
  #container {
    min-height: 100%;
    margin-bottom: -130px;
    position: relative;
  }

  .region-footer .menu {
    float: left;
  }

  #block-menu-menu-footer-menu,
  #block-menu-menu-footer-menu-2 {
    visibility: visible;
    float: left;
    margin-left: 0;
    margin-top: 10px;
  }

  .region-footer .menu > li > a {
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(1,1,1, 0.5);
  }

  .region-footer .menu > li > a:hover {
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    color: #000000;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.5);
  }

  .region-footer .nav > li {
    margin-bottom: 0;
  }

  #block-block-4 h2{
    width: auto;
    color: #ffffff;
    font-size: 16px;
  }

  .region-footer .nav > li > a:hover,
  .region-footer  .nav > li > a:focus {
    background-color: transparent;
  }

  #block-search-form {
    margin-top: 10px;
  }

  .footer-call {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    background-color: #ffffff;
    border-radius: 4px;
    background-image: none;
    text-shadow: none;
    text-transform: uppercase;
    font-size: .9em;
    font-family: Lato,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    transition: all .3s ease;
  }

  .footer-call:hover,
  .footer-call:focus {
    background-color: #ebebeb;
    border-color: #adadad;
  }

    /* HOMEPAGE BOTTOM LINKS */
  #block-block-2 {
    float: right;
    width: 340px;
  }

  .front .twitter-outer {
    padding: 12px 12px 1px 12px;
    border-radius: 4px;
    background-color: #6c87a8;
    min-height: 170px;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .front #block-social-media-links-social-media-links {
    margin-top: 0;
    color: #ffffff;
    width: 340px;
    min-height: 138px;
    float: left;
    border-radius: 4px;
    background-color: #6c87a8;
  }

  .front #block-social-media-links-social-media-links h2 {
    font-size: 40px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .front .block-social-media-links ul.platforms {
    width: auto;
    padding-left: 16px;
    margin-bottom: 24px;
  }

  .front .block-social-media-links .horizontal li {
    padding: .2em 1.5em;
  }

  /* Footer Call Now Block */
  #block-block-4 {
    float: left;
    color: #ffffff;
    border-radius: 4px;
    background-color: #6c87a8;
    margin-top: 11px;
    margin-left: 93px;
    padding: 2px 10px 2px 10px;
    border: 1px solid #CABDBD;
    width: auto;
  }


#block-block-2 {
  float: right;
}

  /* LOGIN BLOCK STYLES */
  .input-group .form-control {
    width: 20%;
    margin-bottom: 0;
    float: right;
  }

  #block-user-login {
    visibility: visible;
    float: right;
    margin-top: 17px;
  }

  #block-user-login .form-group{
    margin-bottom: 9px;
  }

  #block-user-login .form-control{
  height: 25px;
  padding: 6px 12px;
  font-size: 10px;
  line-height: 1;
  }

  #block-user-login .btn {
    padding: 4px 12px;
    font-size: 10px;
  }

.views-field-field-image-file {
  margin-top: 0;
}

  .navbar-nav {
    float: right;
  }

  .nav > li > a {
    padding-right: 10px;
  }

    .navbar-default .navbar-nav > .active-trail > a:hover {
    height: inherit;
    background-color: #bda5b2;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    color: #000000;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.5);
  }
    .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active-trail > a{
    height: inherit;
    background-color: #bda5b2;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(1,1,1, 0.5);
  }

  .navbar-default .navbar-nav > li > a:hover{
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    color: #000000;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.5);
  }
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:focus {
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 10px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(1,1,1, 0.5);
  }

    .navbar-fixed-top {
    min-height: 110px;
  }
  .navbar-nav {
    height: 85px;
    margin-left: -120px;
  }

  .navbar .logo {
    margin-left: -40px;
  }

  .navbar .logo img {
    width: 60%;
  }

   .navbar-nav > li {
    height: inherit;
  }
  .navbar-nav > li > a {
    padding-top: 55px;
    padding-bottom: 15px;
  }

  .dropdown-menu {
    font-size: 10px;
  }

  .dropdown-submenu > li > a:hover, .dropdown-submenu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-image: none;
    background-color: #eb2293;
    outline: 0;
  }

/* LOGIN BLOCK STYLES */
  .input-group .form-control {
    width: 20%;
    margin-bottom: 0;
    float: right;
  }

  #block-user-login {
    visibility: visible;
    float: right;
    margin-top: 12px;
  }

/*Homepage tile styles*/

.view-front-page .views-field-field-image-file {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

}


/*********** MEDIUM SCREEN OVERRIDES ***********/
@media (min-width: 992px) {

  /* SHARE THIS Button overrides */
  .view-front-page .views-field-nothing {
  margin-left: 0;
}

  /* SEARCH BLOCK */
  .region-sidebar-second #block-search-form {
    margin-top: -20px;
    margin-bottom: 10px;
  }

  /* HOMEPAGE GRID SPACING */
  .view-front-page .views-columns-3 {
    padding-bottom: 70px;
  }

  /* ADD 3rd LEVEL DROPDOWN */
  .dropdown-submenu > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a {
    color: #ffffff;
  }

  ul.dropdown-submenu {
    list-style: none;
    margin-left: -40px;
  }

  ul.dropdown-submenu > li > a {
    padding-left: 35px;
  }

  /* TAG LINE STYLES */
  .tag-line {
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgba(1,1,1, 0.9);
  }

  /* FOOTER STYLES */
  .clearfooter {
    height: 130px;
    clear: both;
  }

  .footer {
    height: 130px;
    position: relative;
    background-image: none;
    background-color: rgba(206, 139, 176, 1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.15), 0 -1px 5px rgba(0, 0, 0, 1);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.15), 0 -1px 5px rgba(0, 0, 0, 1);
  }

    /* Make footer stick to bottom of page */
  #container {
    min-height: 100%;
    margin-bottom: -130px;
    position: relative;
  }

  .region-footer .menu {
    float: left;
  }

  #block-menu-menu-footer-menu,
  #block-menu-menu-footer-menu-2 {
    visibility: visible;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
  }

  .region-footer .menu > li > a {
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(1,1,1, 0.5);
  }

  .region-footer .menu > li > a:hover {
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #000000;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.5);
  }

  .region-footer .nav > li {
    margin-bottom: 0;
  }

  #block-block-4 h2{
  width: auto;
    color: #ffffff;
    font-size: 20px;
  }

  .region-footer .nav > li > a:hover,
  .region-footer  .nav > li > a:focus {
    background-color: transparent;
  }

  #block-search-form {
    margin-top: 20px;
  }

  .footer-call {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    background-color: #ffffff;
    border-radius: 4px;
    background-image: none;
    text-shadow: none;
    text-transform: uppercase;
    font-size: .9em;
    font-family: Lato,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    transition: all .3s ease;
  }

  .footer-call:hover,
  .footer-call:focus {
    background-color: #ebebeb;
    border-color: #adadad;
  }

  /* HOMEPAGE BOTTOM LINKS */
  #block-block-2 {
    float: right;
    width: 430px;
  }

  .front .twitter-outer {
    padding: 12px 12px 1px 12px;
    border-radius: 4px;
    background-color: #6c87a8;
    min-height: 0;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .front #block-social-media-links-social-media-links {
    margin-top: 0;
    color: #ffffff;
    min-width: 430px;
    min-height: 138px;
    float: left;
    border-radius: 4px;
    background-color: #6c87a8;
  }

  .front #block-social-media-links-social-media-links h2 {
    font-size: 48px;
    width: 315px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .front .block-social-media-links ul.platforms {
    width: auto;
    padding-left: 0;
    margin-bottom: 0;
  }

  .front .block-social-media-links .horizontal li {
    padding: .2em 2.65em;
  }

  /* Footer Call Now Block */
  #block-block-4 {
    float: left;
    color: #ffffff;
    border-radius: 4px;
    background-color: #6c87a8;
    margin-top: 17px;
    margin-left: 83px;
    padding: 5px 10px 5px 10px;
    border: 1px solid #CABDBD;
    width: auto;
  }

  .navbar-nav {
    float: right;
  }

  .nav > li > a {
    padding-right: 12px;
  }

    .navbar-default .navbar-nav > .active-trail > a:hover {
    height: inherit;
    background-color: #bda5b2;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #000000;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.5);
  }
    .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active-trail > a{
    height: inherit;
    background-color: #bda5b2;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(1,1,1, 0.5);
  }

  .navbar-default .navbar-nav > li > a:hover{
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #000000;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.5);
  }
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:focus {
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(1,1,1, 0.5);
  }

    .navbar-fixed-top {
    min-height: 110px;
  }
  .navbar-nav {
    height: 110px;
    margin-left: -73px;
  }

  .navbar .logo {
    margin-left: -40px;
  }

  .navbar .logo img {
    width: 80%;
  }

   .navbar-nav > li {
    height: inherit;
  }
  .navbar-nav > li > a {
    padding-top: 77px;
    padding-bottom: 15px;
  }

  .dropdown-menu {
    font-size: 12px;
  }

  .dropdown-submenu > li > a:hover, .dropdown-submenu > li > a:focus {
    color: #ffffff;
    text-decoration: none;
    background-image: none;
    background-color: #eb2293;
    outline: 0;
  }

/* LOGIN BLOCK STYLES */
  .input-group .form-control {
    width: 20%;
    margin-bottom: 0;
    float: right;
  }

  #block-user-login {
    visibility: visible;
    float: right;
    margin-top: 17px;
  }

  #block-user-login .form-group{
    margin-bottom: 9px;
  }

  #block-user-login .form-control{
    height: 30px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1;
  }

  #block-user-login .btn {
    padding: 4px 12px;
    font-size: 12px;
  }

  /*Homepage tile styles*/

.view-front-page .views-field-field-image-file {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
}

/*********** WIDE SCREEN OVERRIDES ***********/
@media (min-width: 1200px) {

  /* SHARE THIS Button overrides */
  .view-front-page .views-field-nothing {
    margin-left: 0;
  }

  /* SEARCH BLOCK */
  .region-sidebar-second #block-search-form {
    margin-top: -20px;
    margin-bottom: 10px;
  }

  /* HOMEPAGE GRID SPACING */
  .view-front-page .views-columns-3 {
    padding-bottom: 70px;
  }

  /* ADD 3rd LEVEL DROPDOWN */
  .dropdown-submenu > li > a,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a {
    color: #ffffff;
  }

  ul.dropdown-submenu {
    list-style: none;
    margin-left: -40px;
  }

  ul.dropdown-submenu > li > a {
    padding-left: 40px;
  }

  /* TAG LINE STYLES */
  .tag-line {
    font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 60px;
    text-shadow: 2px 2px 2px rgba(1,1,1, 0.9);
    float: left;
    min-width: 1100px;
  }

  /* FOOTER STYLES */
  .clearfooter {
    height: 180px;
    clear: both;
  }

  .footer {
    height: 180px;
    position: relative;
    background-image: none;
    background-color: rgba(206, 139, 176, 1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.15), 0 -1px 5px rgba(0, 0, 0, 1);
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.15), 0 -1px 5px rgba(0, 0, 0, 1);
  }

    /* Make footer stick to bottom of page */
  #container {
    min-height: 100%;
    margin-bottom: -180px;
    position: relative;
  }

  .region-footer .menu {
    float: left;
  }

  #block-menu-menu-footer-menu,
  #block-menu-menu-footer-menu-2 {
    visibility: visible;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
  }

  .region-footer .menu > li > a {
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(1,1,1, 0.5);
  }

  .region-footer .menu > li > a:hover {
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
   color: #000000;
   text-shadow: 2px 2px 2px rgba(255,255,255, 0.5);
  }

  .region-footer .nav > li {
    margin-bottom: 11px;
  }

  #block-block-4 h2 {
    width: auto;
    color: #ffffff;
    font-size: 30px;
  }

  .region-footer .nav > li > a:hover,
  .region-footer  .nav > li > a:focus {
    background-color: transparent;
  }

  #block-search-form {
    margin-top: 20px;
  }

  .footer-call {
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    background-color: #ffffff;
    border-radius: 4px;
    background-image: none;
    text-shadow: none;
    text-transform: uppercase;
    font-size: .9em;
    font-family: Lato,sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    transition: all .3s ease;
  }

  .footer-call:hover,
  .footer-call:focus {
    background-color: #ebebeb;
    border-color: #adadad;
  }

  /* HOMEPAGE BOTTOM LINKS */
  .front .twitter-outer {
    padding: 12px 12px 1px 12px;
    border-radius: 4px;
    background-color: #6c87a8;
    min-height: 0;
    width: auto;
    margin-left:0;
   margin-right: 0;
  }

  .front #block-social-media-links-social-media-links {
    margin-top: 0;
    color: #ffffff;
    min-width: 542px;
    min-height: 138px;
    float: left;
    border-radius: 4px;
    background-color: #6c87a8;
  }

  .front #block-social-media-links-social-media-links h2 {
    font-size: 48px;
    width: 315px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
  }

  .front .block-social-media-links ul.platforms {
    width: auto;
    padding-left: 50px;
    margin-bottom: 0;
  }

  .front .block-social-media-links .horizontal li {
    padding: .2em 2.65em;
  }

  #block-block-2 {
    float: right;
    min-width: 542px;
  }

  /* Footer Call Now Block */
  #block-block-4 {
    float: left;
    color: #ffffff;
    border-radius: 4px;
    background-color: #6c87a8;
    margin-top: 21px;
    margin-left: 98px;
    padding: 10px 10px 14px 10px;
    border: 1px solid #CABDBD;
    width: auto;
  }

  .navbar-nav {
    float: right;
  }

  .nav > li > a {
    padding-right: 15px;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active-trail > a{
    height: inherit;
    background-color: #bda5b2;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(1,1,1, 0.5);
  }

  .navbar-default .navbar-nav > li > a:hover{
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    color: #000000;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.5);
  }


  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:focus {
    height: inherit;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    color: #FFFFFF;
    text-shadow: 2px 2px 2px rgba(1,1,1, 0.5);
  }

  .navbar-default .navbar-nav > .active-trail > a:hover {
    height: inherit;
    background-color: #bda5b2;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    color: #000000;
    text-shadow: 2px 2px 2px rgba(255,255,255, 0.5);
  }

  .navbar-fixed-top {
    min-height: 138px;
  }
  .navbar-nav {
    height: 138px;
    margin-left: 0;
  }

  .navbar .logo {
    margin-left: -40px;
    width: auto;
  }

  .navbar .logo img {
    width: auto;
  }

 .navbar-nav > li {
    height: inherit;
  }
  .navbar-nav > li > a {
    padding-top: 97px;
    padding-bottom: 15px;
  }

  .input-group .form-control {
    width: 20%;
    margin-bottom: 0;
    float: right;
  }

  #block-user-login {
    float: right;
    margin-top: 20px;
  }

  .dropdown-menu {
    font-size: 14px;
  }

  .dropdown-submenu > li > a:hover, .dropdown-submenu > li > a:focus{
    color: #ffffff;
    text-decoration: none;
    background-image: none;
    background-color: #eb2293;
    outline: 0;
 }


/*Making the home page tiles look slimmer */
.view-id-front_page {
  margin-right: -200px;

}

.front .col-lg-4 {
  width: 325px;
  /* padding-right: 65px; */
  /* padding-left: 64px; */
  margin-right: 114px;
  margin-left: -16px;
}

/*Homepage tile styles*/

.view-front-page .views-field-field-image-file {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

  /* LOGIN BLOCK STYLES */
  .input-group .form-control {
    width: 20%;
    margin-bottom: 0;
    float: right;
  }

  #block-user-login {
    visibility: visible;
    float: right;
    margin-top: 20px;
  }

  #block-user-login .form-group{
    margin-bottom: 15px;
  }

  #block-user-login .form-control{
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
  }

  #block-user-login .btn {
    padding: 6px 12px;
    font-size: 14px;
  }

}


/* PANEL OVERRIDES */
.panel .logged-in {
  border-radius:0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* DROP DOWN MENU OVERRIDES */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-image: none;
  background-color: #eb2293;
  outline: 0;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #ffffff;
  text-decoration: none;
  background-image: none;
  background-color: #eb2293;
  outline: 0;
}

/* OVERRIDE BANNER (Search Box, Tag Line) */
#page-header {
  margin-bottom: 20px;
}

.navbar-btn {
  margin-top: 0;
  margin-bottom: 0;
}

/* Override Jumbotron */
.jumbotron {
  background-color: transparent;
}

.container > .navbar-header,
.container > .navbar-collapse {
  margin-right: -15px!important;
}
/* OVERRIDE JUMBOTRON */
.container .jumbotron {
  padding: 0;
  margin-top: -20px;
  margin-bottom: -40px;
}
